.container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  .card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    border-radius: 10px;

    .card-header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #111827;
      color: #ffffff;
      height: 35px;
      cursor: pointer;

      &:hover {
        background-color: #233150;
      }

      .buttons {
        width: 160px;
        display: flex;
        justify-content: space-between;

        .btn {
          background: linear-gradient(90deg, red 0%, red 100%, rgba(255, 255, 255, 0) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          border: none;
          cursor: pointer;

          &.edit {
            background: linear-gradient(90deg, #EC4899 0%, #8B5CF6 100%, rgba(255, 255, 255, 0) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            ;
          }
        }

      }

      p {
        width: 300px;
      }
    }

    .card-body {
      background-color: #1e1e1e;
      color: #ffffff;
      padding: 10px;


      &.off {
        display: none;
      }
    }
  }

  ul {
    list-style: none;
  }
}
