.creationForm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3px;

  * {
    font-size: 1.3rem;
  }

  button {
    margin: 10px 0;
  }

  input {
    height: 30px;
    padding: 0 10px;
  }

  select {

    height: 30px;
  }
}
